.login-form {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}
.login-button{ 
    width: 75px;
    height: 30px;
    background-color: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.login-input{
    height: 20px;
}
.login-error {
    height: 25px;
}